<h1>Button</h1>
<div class="a">
    <div [innerHTML]="ButtonW"></div>
</div>
<div class="a">
    <div [innerHTML]="Button1"></div>
</div>
<div class="a">
    <div [innerHTML]="Button2"></div>
</div>
<div class="a">
    <div [innerHTML]="Button3"></div>
</div>
<div class="a">
    <div [innerHTML]="Button4"></div>
</div>
<div class="a">
    <div [innerHTML]="Button5"></div>
</div>
<div class="a">
    <div [innerHTML]="Button6"></div>
</div>
<div class="a">
    <div [innerHTML]="Button7"></div>
</div>
<div class="a">
    <div [innerHTML]="Button8"></div>
</div>
<div class="a">
    <div [innerHTML]="Button9"></div>
</div>
<div class="a">
    <div [innerHTML]="Button10"></div>
</div>
<div class="a">
    <div [innerHTML]="Button11"></div>
</div>
<div class="a">
    <div [innerHTML]="Button12"></div>
</div>
<div class="a">
    <div [innerHTML]="Button13"></div>
</div>
<div class="a">
    <div [innerHTML]="Button14"></div>
</div>
<div class="a">
    <div [innerHTML]="Button15"></div>
</div>
<div class="a">
    <div [innerHTML]="Button16"></div>
</div>

<h1>Componet Search</h1>
 <div class="a">
    <div [innerHTML]="ComponentSearch"></div>
</div>
<div class="a">
    <div [innerHTML]="ComponentSearch1"></div>
</div>